<p id="notice"><%= notice %></p>

<h1 class="head-title">Profile</h1>
<div class="new_button">
  <%= button_to edit_user_path(@user), :method => "get", :class => "add_button" do %><span>Edit User</span><% end %>
</div>
<table class="styled-table">
  <tr><th>First Name <td><%= @user.first_name %></td> </th>
  </tr>
  <tr>
    <th>Last Name<td><%= @user.last_name %></td></th>
  </tr>
  <tr>
    <th>Email <td><%= @user.email %></td></th>
  </tr>
  <tr>
    <th>Total Loyalty Points <td><%= @user.total_loyalty_points %></td></th>
  </tr>
  <tr>
    <th>Loyalty Tier <td><%= @user.tier.titleize %></td></th>
  </tr>
  <tr>
    <th>Date Of Birth <td><%= @user.date_of_birth.strftime('%F') %></td></th>
  </tr>
  <tr>
    <th>Country <td><%= @user.country %></td></th>
  </tr>
</table>

<br>
